@model CadastroUsuario.Models.Cadastro

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div style="padding-top: 10px;">
    <div>
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div>
            @Html.ValidationMessageFor(x => x.Nome) <br />
            @Html.DisplayNameFor(x => x.Nome)
            @Html.TextBoxFor(x => x.Nome, new { @class = "form-control" })

        </div>
        <div>
            @Html.ValidationMessageFor(x => x.Sobrenome) <br />
            @Html.DisplayNameFor(x => x.Sobrenome)
            @Html.TextBoxFor(x => x.Sobrenome, new { @class = "form-control" })
        </div>
        <div>
            @Html.ValidationMessageFor(x => x.Email) <br />
            @Html.DisplayNameFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        </div>
        <div style="padding-top: 10px;">
            <button type="submit" class="btn btn-primary">Salvar Usuário</button>
        </div>
    </div>
    </div>
}